.search{
    padding-top: 150px;
    background-color: #d2d2d2;
    padding-bottom: 30px;
}

.search > container > h1{
    margin-bottom: 15px;
}

input{
    font-size: 30px;
}

#result_search{
    margin-top: 20px;
}

.card-header{
    text-align: center;
}

.card-text{
    margin-top: 15px;
    margin-bottom: 15px;
}
