<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cherchez votre plat{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/app.css">
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
        <div class="navbar-toggleable-md navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="/">Choisir son menu</a>
                {% if is_connected %}
                    <a class="navbar-brand float-right" href="/mon-panier">Panier <span class="badge badge-light" id="number_items">{{ counting }}</span></a>
                {% else %}
                    <a class="navbar-brand float-right" href="/login">
                        Connexion
                    </a>
                {% endif %}
            </div>
        </div>

        </div>
        {% block body %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
